body {
    margin: 0;
}

main {
    margin: 5%;
}

nav {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #333;
    color: whitesmoke;
    padding: 10px;
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.todo-list li {
    list-style: none;
}