body { 
    margin: 10%;
    background-color: #666;
    color: ivory;
}

.project-box {
	background: #091534;
	min-height: 200px;
	min-width: 200px;
	max-height: 100%;
	max-width: 100vw;
	color: crimson;

	cursor: pointer;

}